.product-container {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  gap: 3rem;
}

.product-image {
  flex: 1;
  max-width: 500px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-info {
  flex: 1;
  padding: 1rem;
}

h1 {
  color: #871c37;
  margin-bottom: 0.5rem;
  font-size: 2.9rem;
  text-transform: uppercase;
}

.description {
  color: #77182f;
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.price {
  color: #551122;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.9rem;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.quantity-control button {
  background-color: #981f3e;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-control button:hover {
  background-color: #D5345C;
}

.quantity-control span, .total span {
  font-size: 2rem;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.total-price {
  color: #22070E;
  font-weight: bold;
}

.order-btn, .back-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: Merriweather, sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.order-btn {
  background-color: #871c37;
  color: white;
}

.order-btn:hover {
  background-color: #79273b;
}

.back-btn {
  background-color: #a93754;
  color: white;
}

.back-btn:hover {
  background-color: #8D3047;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    padding: 1rem;
  }

  .product-image {
    max-width: 100%;
  }
}
