<div class="gallery_component">
  <div class="gallery_left">
    <h1>Our Story</h1>
    <p class="gallery_text" id="gallery_text"> Our coffee shop is more than a place to grab a cup—it’s where stories are shared, friendships are brewed, and every sip feels like home.</p>
  </div>
  <!-- gallery_left class end  -->
  <div class="gallery_right">
    <div class="gallery_image">
      <div class="pic" id="p1">
        <img src="../../../assets/coffee_image/coffee-1.jpg" alt="">
      </div>
      <div class="pic" id="p2">
        <img src="../../../assets/coffee_image/coffee-2.jpg" alt="">
      </div>
      <div class="pic" id="p3">
        <img src="../../../assets/coffee_image/coffee-3.jpg" alt="">
      </div>
      <div class="pic" id="p4">
        <img src="../../../assets/coffee_image/coffee-4.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- gallery_right class end -->
</div>
<!-- gallery_component class end -->
<div class="gallery_body">
  <h1>Coffee Images</h1>
  <div class="gallery-image-card">
    <div class="gallery-card" id="gc1">
      <img src="../../../assets/coffee_image_card/coffee-1.jpg" alt="">
      <h2 class="product-head overlay">Cappuccino</h2>
    </div>
    <!-- card end -->
    <div class="gallery-card" id="gc2">
      <img src="../../../assets/coffee_image_card/coffee-2.jpg" alt="">
      <h2 class="product-head overlay">Americano</h2>
    </div>
    <!-- card end -->
    <div class="gallery-card" id="gc3">
      <img src="../../../assets/coffee_image_card/coffee-3.jpg" alt="">
      <h2 class="product-head overlay">Iced Coffee</h2>
    </div>
    <!-- card end -->
    <div class="gallery-card" id="gc4">
      <img src="../../../assets/coffee_image_card/coffee-4.jpg" alt="">
      <h2 class="product-head overlay">Affogato</h2>
    </div>
    <!-- card end -->
    <div class="gallery-card" id="gc5">
      <img src="../../../assets/coffee_image_card/coffee-5.jpg" alt="">
      <h2 class="product-head overlay">Turkish Coffee</h2>
    </div>
    <!-- card end -->
    <div class="gallery-card" id="gc6">
      <img src="../../../assets/coffee_image_card/coffee-6.jpg" alt="">
      <h2 class="product-head overlay">Ristretto</h2>
    </div>
    <!-- card end -->
    <div class="gallery-card" id="gc7">
      <img src="../../../assets/coffee_image_card/coffee-7.jpg" alt="">
      <h2 class="product-head overlay">Con Panna</h2>
    </div>
    <!-- card end -->
    <div class="gallery-card" id="gc8">
      <img src="../../../assets/coffee_image_card/coffee-8.jpg" alt="">
      <h2 class="product-head overlay">Irish Coffee</h2>
    </div>
    <!-- card end -->
  </div>
  <!-- gallery-image-card class end -->
</div>
<!-- gallery_body class end -->

