<div class="gallery_component">
  <div class="gallery_left">
    <h1>Our Story</h1>
    <p class="gallery_text" id="gallery_text"> Our coffee shop is more than a place to grab a cup—it’s where stories are shared, friendships are brewed, and every sip feels like home.</p>
  </div>
 <!-- gallery_left class end  -->
<div class="gallery_right">
   <div class="gallery_image">
      <div class="pic" id="p1">
        <img src="../../../assets/coffee_image/coffee-1.jpg" alt="">
      </div>
      <div class="pic" id="p2">
        <img src="../../../assets/coffee_image/coffee-2.jpg" alt="">
      </div>
      <div class="pic" id="p3">
        <img src="../../../assets/coffee_image/coffee-3.jpg" alt="">
      </div>
      <div class="pic" id="p4">
        <img src="../../../assets/coffee_image/coffee-4.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- gallery_right class end -->
</div>
<!-- gallery_component class end -->
<div class="gallery_body">
  <div class="gallery-menu-card">

  </div>
</div>

