.gallery_component{
  display: flex;
  margin: 1rem auto;
max-width: 100%;
  border-bottom: 1px solid black;
}

.gallery_right{
  width: 100%;
  margin-top: 3rem ;
  padding: 1rem 1rem;
}

.gallery_image{
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "coffee coffee1"
    "coffee coffee2"
    "coffee coffee3";
}

.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
transition: transform 0.3s ease, filter 0.3s ease;
  border: 0.8px solid #551123;
  cursor: pointer;
}

.pic:hover{
  transform: scale(1.1);
  z-index: 2;
  filter:  opacity(0.8);
}

#p3{
 grid-area: coffee;
}
#p1{
 grid-area: coffee1;
}
#p2{
 grid-area: coffee2;
}
#p4{
 grid-area: coffee3;
}
/* gallery_right class code end */

.gallery_left {
  margin: 4rem 2rem;
  text-align: center;
  padding: 1rem 1rem;
}

.gallery_left h1{
  margin: 3rem auto;
  color: #661529;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid #d896a5;
  font-weight: 700;
max-width: 30%;
}

.gallery_text{
  color: #440d1c;
  font-size: 1.8rem;
    text-align: center;
  font-weight: 500;
  word-spacing: 2px;
  text-transform: uppercase;
}
