.container{
  background-color: #e06785;
  color: #77182F;
  width: 80%;
  margin: 0 auto;
}

.header{
  background-color: #d896a5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo{
  a{
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: #661529;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover{
      color: #981f40;
    }
  }
}

.navbar {
  background-color: #d896a5;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  margin-left: 60rem;
  gap: 2rem;
}

.nav-links a {
  color: #551122;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  transition: all 0.3s;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.nav-links a.active {
  background-color: #c77d8d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .header{
    .container{
      flex-direction: column;
      gap: 1rem;
    }
  }
  .nav-links{
    gap: 1rem;
  }

}
